name: atproto_dart
description: A sample command-line application.
version: 1.0.0

environment:
  sdk: '>=2.19.5 <3.0.0'

dependencies:
  github: ^9.12.0
  http: ^1.0.0
  pubspec: ^2.3.0

dev_dependencies:
  lints: ^2.0.1
  test: ^1.24.2
  melos: ^3.0.1
