name: atproto_dart
description: A sample command-line application.
version: 1.0.0

environment:
  sdk: '>=2.19.5 <3.0.0'

dependencies:
  github: ^9.12.0
  http: ^0.13.5

dev_dependencies:
  lints: ^2.0.1
  test: ^1.24.1
  melos: ^3.0.1
