@use "sass:math";

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ifm-color-emphasis-100) url('https://atprotodart.com/img/banner.png') no-repeat center top;
    z-index: -1;
    filter: blur(20px);
    /* Adjust blur strength */
    opacity: 0.2;
    /* Adjust transparency */
  }

  @include min-width(lg) {
    flex-direction: row;
    align-items: center;
    padding: 4rem 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: math.div($max-width, 2);
    padding: 1rem;
  }

  &__logo {
    display: inline;
    font-size: 28px;
    font-weight: 600;

    @include min-width(lg) {
      margin-top: -64px;
    }

    >img {
      width: 26px;
      margin-right: 16px;
    }
  }

  &__headline {
    font-size: 48px;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.5;
    color: var(--ifm-color-emphasis-700);
    margin-bottom: 2rem;
    max-width: 600px;
  }

  &__ctaWrapper {
    display: flex;
  }

  &__cta {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;

    &--primary {
      background-color: var(--ifm-color-primary);
      color: white;

      &:hover {
        background-color: var(--ifm-color-primary-dark);
        color: white;
        text-decoration: none;
        transform: translateY(-1px);
      }
    }

    &--secondary {
      background-color: transparent;
      color: var(--ifm-color-primary);
      border: 2px solid var(--ifm-color-primary);

      &:hover {
        background-color: var(--ifm-color-primary);
        color: white;
        text-decoration: none;
        transform: translateY(-1px);
      }
    }
  }

  &__indexCtasGitHubButtonWrapper {
    display: flex;
    align-self: center;
  }

  &__indexCtasGitHubButton {
    overflow: hidden;
  }
}