@use "sass:math";

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ifm-color-emphasis-100) url('../data/banner/banner.jpg') no-repeat center top;
    z-index: -1;
    filter: blur(20px); /* Adjust blur strength */
    opacity: 0.2; /* Adjust transparency */
  }

  @include min-width(lg) {
    flex-direction: row;
    align-items: center;
    padding: 4rem 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: math.div($max-width, 2);
    padding: 1rem;
  }

  &__logo {
    display: inline;
    font-size: 28px;
    font-weight: 600;

    @include min-width(lg) {
      margin-top: -64px;
    }

    > img {
      width: 26px;
      margin-right: 16px;
    }
  }

  &__headline {
    font-size: 48px;
  }

  &__ctaWrapper {
    display: flex;
  }

  &__cta {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    padding: 12px 40px;
    border-radius: 8px;
    background-color: var(--ifm-color-primary);
    color: white;
    font-size: 18px;
    font-weight: 600;

    &:hover {
      background-color: var(--ifm-color-primary-dark);
      color: white;
      text-decoration: none;
    }
  }

  &__indexCtasGitHubButtonWrapper {
    display: flex;
    align-self: center;
  }

  &__indexCtasGitHubButton {
    overflow: hidden;
  }
}
