name: Test

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "packages/*/lib/**"
      - "packages/*/test/**"
      - "packages/*/pubspec.yaml"

jobs:
  tacos:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ matrix.package_path }}

    strategy:
      matrix:
        channel:
          - stable
        package_path:
          - packages/at_primitives
          - packages/lexicon
          - packages/xrpc
          - packages/multiformats
          - packages/atproto_core
          - packages/did_plc
          - packages/atproto
          - packages/bluesky
          - packages/bluesky_text

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 2
      - uses: subosito/flutter-action@v2.7.1
        with:
          channel: ${{ matrix.channel }}
      - name: Add pub cache bin to PATH
        run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
      - name: Add pub cache to PATH
        run: echo "PUB_CACHE="$HOME/.pub-cache"" >> $GITHUB_ENV
      - name: Install dependencies
        run: flutter pub get

      - name: Check format
        run: dart format --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: |
          if test -d "test"; then
            if grep -q flutter "pubspec.yaml"; then
              flutter test
            else
              dart test
            fi
          fi
